@model GoFish.UI.MVC.Inventory.HomeViewModel

<h2>Your inventory</h2>

<div class="list-group">
	@foreach(var shelf in Model.Shelves) {
        <a asp-controller="Stock"
            asp-action="Shelf"
            asp-route-id="@shelf.ProductId"
            class="list-group-item">
            <h3>@shelf.ProductName</h3>
            <span>Quantity: @shelf.Quantity</span>
            <span>Price: @shelf.PriceRange</span>
        </a>
    }
</div>
<div>
    <a href="@Url.Action("Add", "StockItem")" class="btn btn-primary">Add stock</a>
	<a href="@Model.DashboardUrl" class="btn btn-default">Dashboard</a>
</div>