@model GoFish.UI.MVC.Inventory.StockItemViewModel

<h2>Stock Item - @Model.ProductType.Name</h2>

<form class="form" asp-action="Summary">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="Quantity"></label>
		<div class="col-sm-10">
			@Model.Quantity
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="Price"></label>
		<div class="col-sm-10">
			@Model.Price
		</div>
	</div>

	<div>
		<button name="SubmitButton" type="submit" class="btn btn-default" value="Cancel">Back</button>
		<button name="SubmitButton" type="submit" class="btn btn-default" value="Sold">Stock sold</button>
		<a href="#" class="btn btn-primary">Change price</a>
		<a href="#" class="btn btn-primary">Stock disposed</a>
		<a href="@Url.Action("Index", "Home")" class="btn btn-default">Inventory</a>
		<a href="@Model.DashboardUrl" class="btn btn-default">Dashboard</a>
	</div>
</form>