@model GoFish.UI.MVC.AdvertViewModel

<h2>Advert Details</h2>

<form class="form" asp-action="Summary">
	<input type="hidden" asp-for="AdvertData.Id"></input>
	<input type="hidden" asp-for="UserId"></input>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Pitch"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Pitch
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Quantity"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Quantity
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Price"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Price
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Status"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Status
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-sm-2 col-sm-10">
			<button name="SubmitButton" type="submit" class="btn btn-default" value="Cancel">Back</button>
			<button name="SubmitButton" type="submit" class="btn btn-default @Model.EditButtonState" @Model.EditButtonState value="Edit"
				title="@Model.GetToolTip("Edit")">Edit</button>
			<button name="SubmitButton" type="submit" class="btn btn-danger" @Model.DeleteButtonState value="Delete"
				title="@Model.GetToolTip("Delete")">Delete</button>
			<button name="SubmitButton" type="submit" class="btn btn-primary @Model.EditButtonState" @Model.EditButtonState value="Publish"
				title="@Model.GetToolTip("Publish")">Publish</button>
		</div>
	</div>
</form>