@model GoFish.UI.MVC.Inventory.ShelfViewModel

<h2>Stock shelf - @Model.ProductName</h2>

<div class="list-group">
	@foreach(var stockItem in Model.StockItems) {
        <a asp-controller="StockItem"
            asp-action="Summary"
            asp-route-id="@stockItem.Id"
            class="list-group-item">
            <h3>Batch of @stockItem.Quantity @stockItem.ProductType.Name</h3>
            <span>Price: @stockItem.Price</span>
        </a>
    }
</div>

<div>
	<a href="@Url.Action("Add", "StockItem")" class="btn btn-primary">Add stock</a>
	<a href="@Url.Action("Index", "Home")" class="btn btn-default">Inventory</a>
	<a href="@Model.DashboardUrl" class="btn btn-default">Dashboard</a>
</div>